[DEFAULT]
# comma or newline (remember to indent) separated additional configs
additional_configs = nbs_postgres.config, pbc19.config, current_computer.config, public.config, for_nav.config

tablenames = ${prefix}_mllw${postfix}
combined_datapath = ${data_dir}\${prefix}_mllw${postfix}${for_nav_ext}
