[DEFAULT]
# comma or newline (remember to indent) separated additional configs
additional_configs = nbs_postgres.config

tablenames =
  pbc19_mllw_public
  pbc19_mllw_sensitive
  pbc19_mllw_prereview
  pbc19_mllw_bonus

combined_datapaths = ${data_dir}\test_pbc_19_public, ${data_dir}\test_pbc_19_prereview
  ${data_dir}\test_pbc_19_sensitive, ${data_dir}\test_pbc_19_bonus
output_directory = ${data_dir}\multi_db_exports\4m
epsg = 26919
resolution = 4

## example of exporting all the ENC areas in the US but then clipping to just PBC19
# export_areas_shapefile = G:\Data\NBS\Support_Files\MCD_Bands\Band5\Band5_V6.shp
# clip_to_shapefile = G:\Data\NBS\Support_Files\MCD_Bands\PBC_Review\PBC_UTM19N_Review.shp
# name_from_field = CellName

## example of exporting all the review tiles without the optional clipping
export_areas_shapefile = G:\Data\NBS\Support_Files\MCD_Bands\PBC_Review\PBC_UTM19N_Review.shp
name_from_field = OBJECTID
