# copy this into current_computer.config when on nbs07
[DEFAULT]
carisbatch =
data_dir = /OCS-S-HyperV17/NBS_Store2/bruty_databases
export_dir = /OCS-S-HyperV17/NBS_Store1/bruty_tile_exports
environment_path = /opt/miniconda3/bin/activate
environment_name = NBS_20230113
processes = 9

# options for the amount of logging, valid options are DEBUG, INFO, WARNING
LOG_LEVEL = WARNING
