# copy this into current_computer.config when on nbs03
[DEFAULT]
carisbatch = C:\Program Files\CARIS\BASE Editor\5.4\bin\carisbatch.exe
data_dir = E:\bruty_databases
export_dir = V:\bruty_tile_exports
# environment_path = D:\languages\miniconda3\Scripts\activate
# environment_name = NBS
# GDAL3.1 doesn't make the overviews right compared to 3.2+, so use Pydro ENV for now.
environment_path = D:\Pydro21_Dev\Scripts\activate
environment_name = Pydro38
processes = 5