# copy this into current_computer.config when on nbs06
[DEFAULT]
carisbatch = C:\Program Files\CARIS\BASE Editor\5.5\bin\carisbatch.exe
data_dir = D:\bruty_databases
export_dir = W:\bruty_tile_exports
# environment_path = D:\languages\miniconda3\Scripts\activate
# environment_name = NBS
# GDAL3.1 doesn't make the overviews right compared to 3.2+, so use Pydro ENV for now.
environment_path = D:\Programs\miniconda3\Scripts\activate
environment_name = NBS_20230113
processes = 9
# Choices for dtypes = gmrt, enc, qualified, unqualified, sensitive
# NBS07 is dedicated to enc processing so don't run it here
# dtypes = gmrt, qualified, unqualified, sensitive