[DEFAULT]
database = metadata
URL_FILENAME = D:\credentials\postgres_hostname.txt
CREDENTIALS_FILENAME = 

[EXPORT]
# number of decimals to store - if not specified then full resolutions is kept
# so a raw value of -34.76548 would be saved.  If decimals = 2 then -34.76 would be kept (it uses ceil)
# this is useful for compression to work better and reduce storage sizes
decimals = 2