[DEFAULT]
# tablenames = pbc19_mllw_metadata
# combined_datapath = ${data_dir}\test_pbc_19_offset
utm = 14
epsg = 269${utm}
override = False
resolution = 4
prefix = pbg_gulf_utm${utm}n
# setting these to half a cell so we line up with Coast Survey convention and the Fuse interp process
offset_x = 2
offset_y = 2
# set the server to 5000+utm zone
lock_server_port = 50${utm}
