[DEFAULT]
# comma or newline (remember to indent) separated additional configs
additional_configs = nbs_postgres.config, nbs06.config

# zones and tiles can use ranges or specific integers, e.g.  2, 3, 5-8  => 2,3,5,6,7,8
zones = 17
tiles = 55, 79-81
# production_branches, datums and dtypes can have multiple values separated by commas, e.g. PBB, PBG, PBC
production_branches = PBB
# options for dtypes = gmrt, enc, qualified, unqualified, sensitive
dtypes = enc
datums =
# the number of consoles to open to run tasks in.  This should be set in the machine.config (like NBS03.config)
# processes = 5
# set if you want the windows to be minimized on the taskbar
MINIMIZED = False

# use the lock_server if running multiple processes on the same tile
lock_server_port =


[COMBINE]  # settings that only affect combine
# override the combine spec table that specifies if a tile should be built
force_build = False

# Remove the existing bruty database and start from scratch IF any records need to be cleaned.  
# This is much faster than removing all entries if the nbs_ids are all changed or some other large change to existing postgres database
# delete_existing = False

# override the epsg codes in the data for combine with epsg of the bruty database
# override = True


[EXPORT]  # settings that only affect export
# USE_CACHED_ENC_METADATA uses stored postgres records for all dtypes, default is False
# USE_CACHED_METADATA = True

# USE_CACHED_ENC_METADATA uses stored postgres records for just ENCs, default is True
# USE_CACHED_ENC_METADATA = False


[DEFAULT]  # some debugging parameters (only DEV should use)
# res is debugging parameter only
# res = 4
# exclude_ids = 192003196, 192003942, 192000052, 192003842, 192003889, 192001508, 192000065, 192000099, 192002674, 192000138, 192002770, 192003865

# if processes is set to 1 and DEBUG is True then special code will be run in PyCharm to facilitate interactive debugging
# DEBUG = True

